::-webkit-scrollbar
	width: 0px
::-webkit-scrollbar-track-piece
	background-color: transparent
	-webkit-border-radius: 6px

//============================================================
@keyframes vergrössern
    0%
        transform: scale(1)
        height: 115px
        
    100%
        transform: rotate(xx) scale(1)
        height: 270px

@keyframes mehr
    0%
        transform: rotate(0) translateY(-100%)
        
    100%
        transform: rotate(0) translateY(0)

.mehr
  animation: mehr 1s forwards 0s ease
//============================================================

$fontsize_h1: 20px
$fontsize_ul: 20px

$padding: 10px

$position-karten: relative 
$box-schatten: 0 5px 5px rgba(0,0,0,.2)

$hover-farbe: darken(#ffffff, 2%)
$transition-hover: 0.5s
$transform-hover: scale(1.005)


$hintergrundfarbe-karten: #ffffff
$hintergrundfarbe: #DEE4E7

//============================================================

html
  overflow: scroll
  overflow-x: hidden
  -ms-overflow-style: none

  -webkit-user-select: none
  -moz-user-select: none
  user-select: none
  

  
body
  background-color: $hintergrundfarbe
  margin: 0
  padding: 0
  height: 100%
  overflow: hidden

main 
  margin-top: 66px
  margin-left: auto
  margin-right: auto

  section#Stundenausfälle
    background: $hintergrundfarbe-karten
    position: $position-karten
    padding: $padding
    overflow-y: scroll

    min-width: 87%
    max-width: 87%
    margin: auto
    
    border-radius: 5px
    box-shadow: $box-schatten
    z-index: 4

    

    &:hover
      background: $hover-farbe
      transform: $transform-hover
      transition: $transition-hover
   
    
    h1
      font-family: poppins,sans-serif
      font-weight: 400
      font-style: normal
      font-size: $fontsize_h1
       
    p
      font-family: poppins, sans-serif
      font-weight: 700
      font-style: normal
      font-size: $fontsize_ul

  section#AlleStundenausfälle
    background: $hintergrundfarbe-karten
    position: relative
    padding: $padding
    overflow-y: scroll
    
    margin-bottom: 10px
    min-width: 87%
    max-width: 87%
    margin: auto

    

    border-radius: 0px 0px 5px 5px
    box-shadow: $box-schatten
    z-index: 3

    
    
    
    &:hover
      background: $hover-farbe
      transition: $transition-hover
     

    
    h1
      font-family: poppins,sans-serif
      font-weight: 400
      font-style: normal
      font-size: $fontsize_h1
       
    p
      font-family: poppins, sans-serif
      font-weight: 700
      font-style: normal
      font-size: $fontsize_ul
  
  
 
    


  section#Stundenplan
    background: $hintergrundfarbe-karten
    position: $position-karten
    padding: $padding
    overflow-y: scroll

    min-width: 87%
    max-width: 87%
    margin: auto
    margin-top: 10px
    margin-bottom: 10px

    border-radius: 5px
    box-shadow: $box-schatten
    z-index: 2
    

    
    &:hover
      background: $hover-farbe
      transform: $transform-hover
      transition: $transition-hover
      
    
    h1
      font-family: poppins,sans-serif
      font-weight: 400
      font-style: normal
      font-size: $fontsize_h1
      
    ul
      font-family: poppins, sans-serif
      font-weight: 700
      font-style: normal
      font-size: $fontsize_ul


#bm
  width: 250px
  z-index: 5


  /* 
    center bei relative: 

    left: 50%
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%)
