$fontsize_h1: 20px
$fontsize_ul: 20px

$padding: 10px


$position-karten: relative 
$box-schatten: 0 5px 5px rgba(0,0,0,.2)

$hintergrundfarbe-karten: #ffffff
$hintergrundfarbe: #DEE4E7
  
body
  background-color: $hintergrundfarbe
  margin: 0
  padding: 0
  height: 100%
  overflow: hidden
  -webkit-scrollbar
  

main 
  margin-top: 66px
  margin-left: auto
  margin-right: auto

  
  section#Stundenausfälle
    display: block
    background: $hintergrundfarbe-karten
    padding: $padding

    overflow-y: scroll

    margin: auto
    max-width: 87%
    position: $position-karten

    border-right: 16px
    border-radius: 5px
    box-shadow: $box-schatten
   

    h1
      font-family: poppins,sans-serif
      font-weight: 400
      font-style: normal
      font-size: $fontsize_h1
       
    p
      font-family: poppins, sans-serif
      font-weight: 700
      font-style: normal
      font-size: $fontsize_ul



  section#Stundenplan
    background: $hintergrundfarbe-karten
    padding: $padding

    overflow-y: scroll

    margin-bottom: 0px 
    position: $position-karten
    max-width: 87%
    margin: auto
    margin-top: 10px
    margin-bottom: 10px
    border-radius: 5px
    box-shadow: $box-schatten
    


    h1
      font-family: poppins,sans-serif
      font-weight: 400
      font-style: normal
      font-size: $fontsize_h1
      
    ul
      font-family: poppins, sans-serif
      font-weight: 700
      font-style: normal
      font-size: $fontsize_ul


