@charset "UTF-8";
::-webkit-scrollbar {
  scrollbar-width: 0px;
  scrollbar-width-display: none;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 0px;
}

@-webkit-keyframes vergrössern {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 115px;
  }
  100% {
    -webkit-transform: rotate(xx) scale(1);
            transform: rotate(xx) scale(1);
    height: 270px;
  }
}

@keyframes vergrössern {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 115px;
  }
  100% {
    -webkit-transform: rotate(xx) scale(1);
            transform: rotate(xx) scale(1);
    height: 270px;
  }
}

@-webkit-keyframes mehr {
  0% {
    -webkit-transform: rotate(0) translateY(-100%);
            transform: rotate(0) translateY(-100%);
  }
  100% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
  }
}

@keyframes mehr {
  0% {
    -webkit-transform: rotate(0) translateY(-100%);
            transform: rotate(0) translateY(-100%);
  }
  100% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
  }
}

.mehr {
  -webkit-animation: mehr 1s forwards 0s ease;
          animation: mehr 1s forwards 0s ease;
}

html {
  -ms-overflow-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

body {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  scroll-padding: -5vh;
  overflow-y: scroll;
  background-color: #DEE4E7;
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  margin-left: auto;
  margin-right: auto;
}

section#Stundenausfälle {
  background: #ffffff;
  position: relative;
  padding: 10px;
  width: 87vw;
  margin: auto;
  margin-top: 5vh;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 4;
  color: black;
  scroll-snap-align: start;
}

section#AlleStundenausfälle {
  position: relative;
  background: #ffffff;
  padding: 10px;
  width: 87vw;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 3;
  color: black;
  scroll-snap-align: start;
}

section#Stundenplan {
  background: #ffffff;
  position: relative;
  padding: 10px;
  width: 87vw;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  color: black;
  scroll-snap-align: start;
}

h1 {
  font-family: poppins,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

ul {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

p {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

section#Stundenausfälle:hover {
  background: #fafafa;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section#Stundenplan:hover {
  background: #fafafa;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section#AlleStundenausfälle {
  background: #fafafa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#bm {
  width: 250px;
  z-index: 5;
  /*
    center bei relative:

    left: 50%
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%) */
}
/*# sourceMappingURL=home.css.map */