@charset "UTF-8";
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 6px;
}

@-webkit-keyframes vergrössern {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 115px;
  }
  100% {
    -webkit-transform: rotate(xx) scale(1);
            transform: rotate(xx) scale(1);
    height: 270px;
  }
}

@keyframes vergrössern {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 115px;
  }
  100% {
    -webkit-transform: rotate(xx) scale(1);
            transform: rotate(xx) scale(1);
    height: 270px;
  }
}

@-webkit-keyframes mehr {
  0% {
    -webkit-transform: rotate(0) translateY(-100%);
            transform: rotate(0) translateY(-100%);
  }
  100% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
  }
}

@keyframes mehr {
  0% {
    -webkit-transform: rotate(0) translateY(-100%);
            transform: rotate(0) translateY(-100%);
  }
  100% {
    -webkit-transform: rotate(0) translateY(0);
            transform: rotate(0) translateY(0);
  }
}

.mehr {
  -webkit-animation: mehr 1s forwards 0s ease;
          animation: mehr 1s forwards 0s ease;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

body {
  background-color: #DEE4E7;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

main {
  margin-top: 66px;
  margin-left: auto;
  margin-right: auto;
  /*

    center bei relative:

     left: 50%
    -webkit-transform: translateX(-50%)
    transform: translateX(-50%) */
}

main section#Stundenausfälle {
  background: #ffffff;
  position: relative;
  padding: 10px;
  overflow-y: scroll;
  min-width: 87%;
  max-width: 87%;
  margin: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

main section#Stundenausfälle:hover {
  background: #fafafa;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main section#Stundenausfälle h1 {
  font-family: poppins,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

main section#Stundenausfälle p {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

main section#AlleStundenausfälle {
  background: #ffffff;
  position: relative;
  padding: 10px;
  overflow-y: scroll;
  margin-bottom: 10px;
  min-width: 87%;
  max-width: 87%;
  margin: auto;
  border-radius: 0px 0px 5px 5px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

main section#AlleStundenausfälle:hover {
  background: #fafafa;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main section#AlleStundenausfälle h1 {
  font-family: poppins,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

main section#AlleStundenausfälle p {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

main section#Stundenplan {
  background: #ffffff;
  position: relative;
  padding: 10px;
  overflow-y: scroll;
  min-width: 87%;
  max-width: 87%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

main section#Stundenplan:hover {
  background: #fafafa;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main section#Stundenplan h1 {
  font-family: poppins,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

main section#Stundenplan ul {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
/*# sourceMappingURL=home.css.map */