@charset "UTF-8";
::-webkit-scrollbar {
  scrollbar-width: 0px;
  scrollbar-width-display: none;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 0px;
}

@-webkit-keyframes alle {
  0% {
    height: 0;
  }
  100% {
    height: auto;
  }
}

@keyframes alle {
  0% {
    height: 0;
  }
  100% {
    height: auto;
  }
}

html {
  -ms-overflow-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

body {
  scroll-padding: -5vh;
  overflow-y: scroll;
  background-color: #DEE4E7;
  margin: 0;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
  width: calc(100vw - 10vw);
  height: auto;
  position: absolute;
}

section#Stundenausfälle {
  background: #ffffff;
  position: relative;
  padding: 10px;
  border-radius: 15px;
  margin: auto;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 4;
  color: black;
  position: relative;
}

div#Dunkler {
  padding: 3vw;
  background: #01579B;
  border-radius: 10px;
}

section#AlleStundenausfälle.keine {
  position: relative;
  background: #2196F3;
  padding: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
  max-height: 0;
  overflow: hidden;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  z-index: 1;
  color: white;
  -webkit-transform: translateY(-2vh);
          transform: translateY(-2vh);
  position: relative;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
          transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}

section#AlleStundenausfälle.alle {
  position: relative;
  background: #2196F3;
  padding: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
  max-height: 1000vh;
  height: auto;
  overflow: hidden;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white;
  -webkit-transform: translateY(-2vh);
          transform: translateY(-2vh);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
          transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
  position: relative;
}

section#Stundenplan {
  background: #ffffff;
  position: relative;
  padding: 10px;
  margin: auto;
  margin-top: 2vh;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  color: black;
  position: relative;
}

h1 {
  font-family: poppins,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  margin: 0;
}

h2 {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 6vw;
  margin-top: 3vh;
}

h3 {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  margin-bottom: 1vh;
  margin-top: 2vh;
  margin-left: 3vw;
  padding-top: 10px;
}

ul {
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

p {
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.5vw;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

span#raum-person {
  font-family: poppins, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 3.5vw;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

section#Stundenausfälle:hover {
  background: #fafafa;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section#Stundenplan:hover {
  background: #fafafa;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section#AlleStundenausfälle:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=home.css.map */