html {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  position: relative;
}

body {
  background-color: #ECEFF2;
  overflow: visible;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 10vh);
  margin: 0;
  margin-bottom: 5vh;
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

div#section {
  height: 100%;
  position: relative;
  vertical-align: middle;
  display: table-cell;
  min-height: 70vh;
}

section#anmeldung-karte {
  background-color: #ffffff;
  overflow-y: scroll;
  margin: 0;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  width: 80vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-right: 5vw;
  padding-left: 5vw;
  position: absolute;
  display: table;
  height: 100%;
}

input#email_field {
  background-color: #DEE4E7;
  border: 3px solid #DEE4E7;
  -webkit-appearance: none !important;
  -webkit-box-shadow: inset 0px 0px 0px 0px red;
          box-shadow: inset 0px 0px 0px 0px red;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 72vw;
  min-height: 4vh;
}

input#password_field {
  background-color: #DEE4E7;
  border: 3px solid #DEE4E7;
  -webkit-appearance: none !important;
  -webkit-box-shadow: inset 0px 0px 0px 0px red;
          box-shadow: inset 0px 0px 0px 0px red;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 72vw;
  min-height: 4vh;
}

div#button {
  height: 100%;
  position: relative;
  vertical-align: middle;
}

button {
  background: #419AEC;
  color: white;
  position: relative;
  padding: 10px;
  border: 0;
  height: 13vh;
  width: 100%;
  margin-bottom: 5vh;
  top: 25%;
  position: absolute;
  border-radius: 50vw;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  font-size: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

h1 {
  text-align: center;
  font-family: poppins,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 10vw;
  margin-bottom: 0;
  color: #000000;
  margin-top: 0;
}

p#anmeldung-untertitel {
  margin-top: 1vh;
  text-align: center;
  font-family: poppins,sans-serif;
  font-style: normal;
  font-size: 3vw;
  max-width: 60vw;
  margin: auto;
  color: #000000;
  margin-top: 0;
  margin-bottom: 3vh;
}

.p {
  font-size: 4vw;
  font-family: poppins,sans-serif;
  color: #000000;
  margin-left: 4vw;
  margin-right: 7vw;
  margin-bottom: 1vh;
}

p#registrier-link {
  margin: auto;
  font-size: 3vw;
  font-family: poppins,sans-serif;
  color: rgba(0, 0, 0, 0.36);
  text-align: center;
  max-width: 100vw;
  margin-top: 65%;
  margin-bottom: 0vh;
}

h3 {
  margin: auto;
}

div#user_div {
  text-align: center;
}
/*# sourceMappingURL=anmeldung.css.map */